.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  transition: all 0.3s ease-in-out;
}

.modalContainer {
  background-color: rgb(40, 45, 48);
  width: 68vw;
  height: 70vh;
  border-radius: 2vw;
  transition: all 0.3s ease-in-out;
}

.title {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 5vb;
  font-weight: 400vb;
  transition: all 0.3s ease-in-out;
}

.closeButton {
  margin: 4vh 2vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vb;
  height: 8vb;
  border: 0px;
  color: white;
  background-color: rgb(27, 26, 29);
  border-radius: 2vw;
  font-size: 6vb;
  transition: all 0.3s ease-in-out;
}

.closeButton:hover {
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}

.inputs {
  display: flex;  
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.inputs input {
  margin: 1vb;
  width: 25vw;
  height: 10vh;
  border-radius: 2vb;
  border: 0.5vb solid rgb(27, 26, 29);
  display: flex;
  font-size: 4vb;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.footer {
  display: flex;
  margin: 8vh;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.footer button {
  width: 20vw;
  height: 8vh;
  border-radius: 2vw;
  border: 0px;
  background-color: rgb(27, 26, 29);
  color: white;
  font-size: 4vb;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer button:hover {
  background-color: rgb(51, 51, 51);
}